In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chokurdakh,70.6333,147.9167,26.04,96,100,8.84,RU,2021-10-04 03:32:20
1,1,Sorland,67.6670,12.6934,57.27,88,100,18.25,NO,2021-10-04 03:37:30
2,2,Funadhoo,6.1500,73.2667,82.89,77,94,16.24,MV,2021-10-04 03:38:07
3,3,Hithadhoo,-0.6000,73.0833,83.39,75,51,16.60,MV,2021-10-04 03:32:10
4,4,Prieska,-29.6641,22.7474,41.86,37,0,5.21,ZA,2021-10-04 03:38:08

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(
    input("What is the minimum temperature you would like for your trip? "))
max_temp = float(
    input("What is the maximum temperature you would like for your trip? "))

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Funadhoo,6.1500,73.2667,82.89,77,94,16.24,MV,2021-10-04 03:38:07
3,3,Hithadhoo,-0.6000,73.0833,83.39,75,51,16.60,MV,2021-10-04 03:32:10
9,9,Kavaratti,10.5669,72.6420,81.91,78,98,10.09,IN,2021-10-04 03:38:08
16,16,Atar,20.5169,-13.0499,86.41,11,11,14.20,MR,2021-10-04 03:38:09
17,17,Nago,26.5881,127.9761,89.76,59,3,16.98,JP,2021-10-04 03:31:43
18,18,Isangel,-19.5500,169.2667,84.31,79,20,4.61,VU,2021-10-04 03:32:10
19,19,Mananara,-16.1667,49.7667,71.47,91,93,3.89,MG,2021-10-04 03:38:10
21,21,Batiano,7.5534,126.4907,83.35,73,100,3.33,PH,2021-10-04 03:38:10
30,30,Sao Filipe,14.8961,-24.4956,79.74,80,16,3.53,CV,2021-10-04 03:31:03
32,32,Bengkulu,-3.8004,102.2655,83.19,68,65,5.30,ID,2021-10-04 03:37:16

In [10]:
preferred_cities_df.count()

City_ID       305
City          305
Lat           305
Lng           305
Max Temp      305
Humidity      305
Cloudiness    305
Wind Speed    305
Country       305
Date          305
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[[
    "City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2     Funadhoo      MV     82.89   6.1500   73.2667
3    Hithadhoo      MV     83.39  -0.6000   73.0833
9    Kavaratti      IN     81.91  10.5669   72.6420
16        Atar      MR     86.41  20.5169  -13.0499
17        Nago      JP     89.76  26.5881  127.9761
18     Isangel      VU     84.31 -19.5500  169.2667
19    Mananara      MG     71.47 -16.1667   49.7667
21     Batiano      PH     83.35   7.5534  126.4907
30  Sao Filipe      CV     79.74  14.8961  -24.4956
32    Bengkulu      ID     83.19  -3.8004  102.2655

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.